*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin-top: 56px;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

nav{
    position: fixed;
    top: 0;
    width: 1248px;
    padding: 0 16px;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.youtube_logo{
    height: auto;
    width: 80px;
    
}

.nav_menu{
    height: 24px;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
}


nav ul li img{
    margin: 0 10px;
    height: 24px;
}

.search_bar{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar button{
    width: 65px;
    height: 36px;
    border-left: none;
    border: 1px solid #d3d3d3;
    background-color: rgb(248, 248, 248);


}

.search_bar input{
    width: 575px;
    height: 36px;
    border: 1px solid #d3d3d3;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.gmail_account{
    position: absolute;
    margin: 10px;
    right: 0;
    color: white;
    background-color: rgb(140, 110, 99);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_side{
    width: 600px;
    height: 200vh;
}

.left_side iframe{
    width: 576px;
    height: 360px;
    padding: 24px 24px 0 0;

}

.right_side{
    width: 426px;
    height: 200vh;
    padding: 24px 24px 0 0;
}

.up_next{
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 12px;
}

.featured_video{
    height: 94px;
    width: 402px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 16px;
}

.featured_video a{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;

}

.thumbnail{
    height: 94px;
    width: 168px;
    box-shadow: 1px 1px 1px grey;
}

.vid_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 202px;
    padding-right: 24px;
}

.vid_info h5{
    margin-top: 2px;
}

.vid_info h5, h6{
    margin-top: 3px;
    font-weight: 100;
    color: grey;
}

.suggested_video{
    height: 94px;
    width: 402px;
    margin-bottom: 16px;
}

.suggested_video:hover{
    box-shadow: 3px 3px 3px grey;
}

.suggested_video a{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}

.video_details{
    width: 576px;
    height: 64px;
    margin-right: 24px;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0 8px 0;
    display: block;
}

.video_details h3{
    height: 50%;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
}

.video_details article{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vid_stats{
    color: rgb(96, 96, 96);
    font-size: 14px;
    line-height: 21px;
}

.vid_options{
    width: 310px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-weight: 500px;
}

.vid_options div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vid_options img{
    width: 20px;
    height: 20px;
}

.video_description{
    height: 167px;
    width: 576px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #d3d3d3;
    margin-right: 24px;
}

.top_row{
    padding-top: 16px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.channel_icon{
    background-color: rgb(97, 159, 73);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.channel_info{
    width: 391px;
    height: 100%;
}

.channel_info h3{
    font-size: 14px;

}

.channel_info h4{
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-weight: normal;
}

.sub{
    color: white;
    background-color: rgb(204, 0, 0);
    border-radius: 2px;
    padding: 10px 16px;
    margin: 0px 4px;
    border: none;
    font-size: 14px;
    width: 106px;
    height: 36px;
    text-align: center;
}

.bottom_row{
    margin-left: 64px;
    font-family: Roboto, Arial, sans-serif;
}

.bottom_row h3{
    font-size: 14px;
    font-weight: normal;
}

.bottom_row h4{
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal;
    color: rgb(96, 96, 96);
}

.comments{
    height: 50px;
    margin-right: 24px;
}